body {
font:verdana;
background-color:#ffffff;

}
h3 {
margin-left: 13em;
}

form {

        width: 50%;
        float:left;
        margin-left: 20em;
        margin-top: 6em;


}
.label {
 font-style: bold;
 }
.button{
 width: 50%;
        float:left;
        margin-left: 20em;
        margin-top: 6em;
        text-align: center;
}
.suggestVals {
visibility: false; color: white;
}
input, select, textarea,a{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-family: inherit;
    font-size: 100%;

}
input[type=submit],a {
  width: 100%;
  background-color: #13287e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
box {
background-color: #fafbfc;
}
.formtitle {
    font-size: 20px;
}
