
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Dashboard</title>
    <link th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" type="text/css"
          rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="navbar">

</div>
<div>
    <a th:href="@{/recon}" class="button">Recon Management</a>
</div>
<div>
    <a th:href="@{/dataDictionary}" class="button">Sync Data Dictionary</a>
</div>

</body>
</html>