<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Sync Data Dictionary</title>
    <link th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" type="text/css"
          rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="navbar">

</div>
<div>
    <a th:href="@{/}" class="button">Home</a>
</div>
<div>

    <form th:action="@{/sync-data-dictionary}" th:object="${dataDictionarySyncRequest}" name="ddform" onsubmit="return validateForm()" method="post">
        <div>
            <p class="formtitle">Sync Data Dictionary : </p>
            <p><p>Institute ID:</p> <select id="instId" name="instId" th:field="*{institutionId}">
            <option value="" selected="selected">N/A</option>
            <option th:each="entry : ${mapUi.entrySet()}"
                    th:value="${entry.key}"
                    th:utext="${entry.key}">
            </option>
        </select>
            </p>
        </div>
        <div><p><p>Collection Name:  </p>
            <select id="collection" name="collection" th:field="*{collectionName}"></select>
            <span id="collectionSuggestVals" class="suggestVals" th:value="${collectionSuggestionsJSONDD}"
                  th:text="${collectionSuggestionsJSONDD}"></span>
            </p>
        </div>
        <div><p>Start Date  : <input type="date" name="startDate" th:field="*{startDate}"/>
            </p></div>
        <div><p>End Date : <input type="date" name="endDate" th:field="*{endDate}"/>
            </p></div>
        <div><p><input type="submit" value="Submit"/></p></div>

    </form>
</div>

<script th:src="@{/webjars/jquery/3.6.0/jquery.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script type="text/javascript">
$(function() {
	$(".suggestVals").hide();

	var collectionSuggestions = JSON.parse($("#collectionSuggestVals").text());


    $("#instId").change(function(e) {
	  var type = $("#instId").val();
	  var htmlOptions = "";
	  var collectionMap = collectionSuggestions[type];
	  console.log(collectionMap);
	  $.each(collectionMap, function(Key, Val){
		 console.log("option: " + Key + " " + Val);
	     htmlOptions = htmlOptions + "<option value="+ Val +">" + Val +"</option>";
	  });
	  $("#collection").html(htmlOptions);
	  $("#collection").trigger('contentChanged');
    });
});
function validateForm() {
  var x = document.forms["ddform"]["instId"].value;
  var collection = document.forms["ddform"]["collection"].value;
  var startDate = document.forms["ddform"]["startDate"].value;
  var endDate = document.forms["ddform"]["endDate"].value;
  var date1 = new Date(startDate);
  var date2 = new Date(endDate);
  var now = new Date();
  if(startDate != "" && endDate != ""){

  if(date1.getTime() > date2.getTime()){
  alert("Start date must be before End Date");
  return false;
  }
  if(date1.getTime()>now.getTime() || date2.getTime()>now.getTime()){
  alert("Dates later than current date not allowed");
  return false;
  }
  }
  if (x == "") {
    alert("Institution Id must not be empty");
    return false;
  }
  if(collection == ""){
  alert("Collection Name should not be empty");
  return false;
  }
  if(startDate == ""){
  alert("Start date must not be empty");
  return false;
  }
   if(endDate == ""){
  alert("End date must not be empty");
  return false;
  }

}


</script>
</body>
