<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Recon Management Utility</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Job Details</h1>
<form action="#" th:action="@{/execute}" th:object="${job}" method="post">
    <p>Institute: <select id="instId" th:field="*{instId}" onchange="filterCollection();">
        <option value=""> -- </option>
        <option th:each="entry : ${mapUi.entrySet()}"
                th:value="${entry.key}"
                th:utext="${entry.key}">
        </option>
    </select>
    </p>
    <p>Start Date: <input type="date" th:field="*{startDate}" /></p>
    <p>End Date: <input type="date" th:field="*{endDate}" /></p>
    <p>Collection: <select th:field="*{collection}">
        <option value=""> -- </option>
        <option th:each="entry : ${mapUi.entrySet()}"
                th:value="*{instId}"
                th:utext="${entry.value}">
        </option>
    </select></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>